@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navigation {
    width: 100%;
    height: 15%;
    /* background-color: red; */
    display: flex;
}

.logo {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.left>a {
    text-decoration: none;
}


.left {
    width: 50%;
    height: 100%;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3%;
}

.container {
    width: 100vw;
    height: 100vh;
    /* background-color: purple; */
    background-color: #004AEF;
    font-family: 'DM Sans', sans-serif;
}

.main-container {
    width: 100%;
    /* background-color: black; */
    height: 85%;
    display: flex;

}

.right {
    display: flex;
    justify-content: flex-end;
}

.right>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.right {
    width: 50%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    padding-right: 3%;

}

.body-left {
    width: 50%;
    height: 100%;
    /* background-color: chocolate; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding-left: 3%;


}

.body-right {
    width: 50%;
    height: 100%;
    /* background-color: darkmagenta; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.office {
    height: 80%;
    width: 80%;
}

#login {
    padding: 7px 2em;
    background-color: white;
    color: #004AEF;
    border: none;
    border-radius: 15px;
    font-weight: bold;
}

#login:hover{
        
    color: white;
    background-color: #004AEF;
    border: 1px solid white;
}

li a {
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.heading,
.paragraphs {
    color: white;
}

.heading>p {
    font-size: 48px;
}

.paragraphs {
    margin-bottom: 15px;
    font-size: 20px;

}

.heading {
    margin-bottom: 10px;
}

#apply {
    padding: 10px 2em;
    background-color: white;
    color: #004AEF;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    width: 22%;
    /* margin-left: 3%; */
}

#apply:hover {
    color: white;
    background-color: #004AEF;
    border: 1px solid white;
}

#start {
    padding: 10px 2em;
    color: white;
    background: transparent;
    border: 1px solid white;
    border-radius: 15px;
    font-weight: bold;
    width: 22%;
}

#start:hover {
    color: #004AEF;
    background-color: white;
}

button {
    cursor: pointer;
}

.about-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: 'DM Sans', sans-serif;
}

.about-right {
    width: 50%;
    /* background-color: yellow; */
    height: 100%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-left {
    width: 50%;
    /* background-color: black; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-right>h3 {
    margin-bottom: 30px;
}


.about-image {
    width: 70%;
    height: 70%;
}

.about-paragraphs>p {
    color: black;
    margin-top: 20px;
    font-size: 3em;
}
.about-paragraphs>span {
    color: #004AEF;
    font-size: 3em;
}

#learn-btn {
    padding: 10px 2em;
    background-color:#004AEF;
    color: white;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    width: 22%;
    margin-top: 15px;
    
}

#learn-btn:hover{
    color: #004AEF;
    background: transparent;
    border: 1px solid #004AEF;
}

.title{
    width: 100vw;
    height: 15vh;
    padding-top: 20px;
    /* background-color: lavender; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
}

.title>h3 {
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}
.title>h3:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 5%;
    border-bottom: 5px solid #004AEF;
    border-radius: 10px;
}

#features-title{
    background-color: lavender;
}

.feature-container{
    width: 100vw;
    height: 140vh;
    background-color: lavender;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
}

.gallery-container{
    width: 95%;
    height: 90%;
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 3%;
}

.gallery{
    width: 28%;
    max-height: 40%;
    background-color:#004AEF;
    color: white;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 2% 2%;
    cursor: pointer;
}

.gallery:hover{
    color: #004AEF;
    background-color: white;
}

.feature-image {
    /* height: 80%;
    width: 80%; */
    margin-bottom: 10px;
}

.desc{
    text-align: center;
}

.contact-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    /* background-color: black; */
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
}

.contact-left{
    height: 100%;
    width: 50%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-right {
    height: 100%;
    width: 50%;
    /* background-color: chartreuse; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-card {
    width: 90%;
    height: 90%;
    background: #004AEF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    position: relative;
    

}

.contact-form{
    width: 90%;
    height: 90%;
    /* background: pink; */
    display: flex;
    flex-wrap: wrap;

}

input, textarea {
    border: 1px solid #004AEF;
    outline: none;
}

input {
    height: 3em;
    padding-left: 3px;
}
textarea{
    height: 6m;
}
label {
    font-weight: bold;
}

.formleft{
    width: 50%;
    height: fit-content;
    /* background-color: aquamarine; */
}

.formright{
    width: 50%;
    height: fit-content;
    /* background-color: crimson; */
}

.inputs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;

}

.submit-btn {
    padding: 10px 2em;
    background-color:#004AEF;
    color: white;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    margin-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.submit-btn:hover{
    color: #004AEF;
    background: transparent;
    border: 1px solid #004AEF;
}

.contact-info {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-weight: bold;

}

.contact-card>h2, .contact-card>p{
    margin-top: 3%;
    margin-left: 3%;
}
.contact {
    display: flex;
    margin-bottom: 20px;
    margin-left: 3%;
}

.contact-icon {
    color: yellow;
    margin-right: 7px;
}

.frames {
   display: flex;
}

.yellow{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
}
.blue {
    position: absolute;
    right: 7%;
    bottom: 7%;
}
.footer-container {
    background-color: #004AEF;
    width: 100vw;
    height: 70vh;
    display: flex;
    font-family: 'DM Sans', sans-serif;
}

.contact-icons {
    position: absolute;
    bottom: 10px;
    left: 3%;
}

.socialmedia {
    margin-right: 10px;
    cursor: pointer;
}

.footer-container>div {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3.5%;
    
}

.footer-links {
    color: white;
}

.footer-links>a {
    text-decoration: none;
    color: white;
    line-height: 2em;
}

.footer-links>h3 {
    margin-bottom: 10%;
}

.footer-right {
    display: flex;
    width: 100%;
    line-height: 1.5em;
    margin-bottom: 3%;

}

.desc-footer {
    display: flex;
    flex-direction: column;
    width: 70%;
}
.footer-img {
    width: 30%;
}
.footer-end {
    background: #004AEF;
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    color: white;
    padding: 3%;
    border-top: 1px solid yellow;
}

.footer-end>span {
    
}
 
.search-footer {
    color: white;
    margin-top: 6%;
}

.footer-form {
    position: relative;
}

.footer-form>button{
    position: absolute;
    
}